$primary: rgb(33, 195, 249);
$secondary: rgb(242, 12, 239);
html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ol-control button {
  width: 2.2rem !important;
  height: 2.2rem !important;
  background-color: $primary !important;
}
.ol-control button:hover {
  // width: 2rem!important;
  // height: 2rem!important;
  background-color: darken($primary, 20) !important;
}
.ol-control button:active {
  background-color: $secondary !important;
}
.layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-left: 45px !important;
}

.currentPosition {
  top: 95px;
  left: 0.5em;
}

.fa-solid.fa-crosshairs {
  width: 24px;
  background: #fff;
  mask-image: url(/images/crosshairs-solid.svg);
  height: 24px;
  display: inline-block;
}
.control-hidden{
  display: none;
}